:root{
  --background-color: linear-gradient(-100deg, black, var(--plink-color) 50%);





  --secondary-color: #2964ef;
  --color-letter: #f0f0f0;
  --grid-gap: 1.7em;
  --plink-color: #303841;
  --project-width: 400px;
  --project-height: 460px;
}

*{
  color: var(--color-letter);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Poppins, sans-serif;
}

html {
  min-width: 398px;
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  font-size: 1.8rem;
  line-height: 1.4;
}

header{
  position: fixed;
  width: 100%;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

#navbar{
  background-color: var(--secondary-color);
  display: flex;
  justify-content: flex-end;
}

#navbar ul{
  font-size: 24px;
  list-style: none;
  display: flex;
  margin: 0 20px 0 0;
  height: 70px;
  padding: 0;
}

#navbar li{
  height: 100%;
}

#navbar a{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center; 
  padding: 0 1rem;
}

main{
  background: var(--background-color);
  width: 100%;
}

#welcome-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#welcome-section h1{
  font: bold 4rem 'Raleway', sans-serif;
}

#welcome-section p{
  font: italic 300 26px 'Poppins', sans-serif;
  color: var(--secondary-color);
}

#trabalho{
  background: rgb(12, 28, 38);
  width: 100%;
  padding: 3rem 0;
  padding-top: 0;
}

#trabalho h2{
  margin: 8rem 0 4rem;
  display: inline-block;
  font: bold 2.7rem/1em 'Raleway', sans-serif;
  border-bottom: 2px solid;
  padding: 10px 10px;

}

#projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  justify-items: center;
  margin: auto;
  width: calc((var(--grid-gap) * 2) + (var(--project-width) * 3));
  height: calc(var(--grid-gap) + var(--project-height) * 2);
  margin-bottom: 3rem;
}

.project {
  width: 100%;
  height: 100%;
}

img{
  width: 100%;
  height: calc(100% - 60px);
  object-fit: cover;
  box-shadow: 1px 1px 2px black;

}

.project p{
  height: 60px;
  width: 100%;
  background-color: var(--plink-color);
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project:hover span{
  opacity: 100;
  transition: 0.4s ease-out;
}

.project span{
  padding: 0 0.4rem;
  opacity: 0;
  color: orange;
}

a{
  text-decoration: none;
  cursor: pointer;
}


.button{
  background-color: var(--plink-color);
  font-size: 22px;
  padding: 0.7rem 1.4rem;
  display: flex;
  margin: 4rem auto 3rem;
  align-items: center;
  gap: 0.7em;
  border: none;
  border-radius: 3px;
  width: 225px;
  height: 50px;
  }

.button:hover{
  cursor: pointer;
  animation: mov-bot 0.3s;
  animation-fill-mode: forwards;

}
.button i{
  font-size: 25px;
}



#contato{
  width: 100vw;
  height: calc(77vh);
  display: grid;
  grid-template-rows: 1fr 1fr;
  
}

.trabalhar-junto{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.trabalhar-junto h2{
  font-size: 3rem;
}

.trabalhar-junto p{
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
}

.contatos{
  font-size: 1.3rem;
  display: flex;
  margin: auto;
  margin-top: 3rem;
}

.contatos a{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.contatos a:hover{
  animation: mov-link 0.5s ease;
  animation-fill-mode: forwards;
}

footer{
  border-top: 4px solid var(--secondary-color);
  background-color: var(--plink-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 6rem;
  align-items: center;
  font-size: 1rem;
}


@media only screen and (max-width: 1400px){

  #projects{
    width: min(95vw, calc((var(--grid-gap) * 2) + (var(--project-width) * 3)));

    height: 
    min(70vw, calc((var(--grid-gap) * 1) + (var(--project-height) * 2)));
  }


}



@media only screen and (max-width: 1150px){

  #projects{
    width: calc((2 * var(--project-width)) + var(--grid-gap));
    height: calc((var(--grid-gap) * 1) + (var(--project-width) * 2));
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
  }
 
}

@media only screen and (max-width: 900px){

  #projects{
    width: min(95vw, calc((var(--grid-gap) * 1) + (var(--project-width) * 2)));

    height: 
    min(95vw, calc((var(--grid-gap) * 1) + (var(--project-width) * 2)));
  }

  #trabalho h2{
    font-size: 2.2rem;
  }

  .contatos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contatos a:nth-child(4){
    position: relative;
    left: 6rem;
    height: 83px;
  }

  .contatos a:nth-child(5){
    grid-column: 2 / 4;
    width: 210px;
    margin: auto;
    height: 83px;
  }
}

@media only screen and (max-width: 700px){

  #projects{
    width: calc(var(--project-width));
    height: calc((var(--grid-gap) * 3) + (var(--project-width) * 4));
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    
  }

   #trabalho h2{
    font-size: 2.0rem;
  }

   .trabalhar-junto{
    display: block;
    margin: auto;
  }

  .contatos{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
  }

  .contatos a:nth-child(4){
    position: relative;
    left: 0;
  }

  .contatos a:nth-child(5){
    grid-column: 1 / 3;
    margin: auto;
  }
 
}

@media only screen and (max-width: 440px){

  #projects{
    width: min(90vw, (var(--project-width)));

    height: 
    min(400vw, calc((var(--grid-gap) * 3) + (var(--project-width) * 4)));
  }

  #contato h2{
    font-size: 2rem
  }

  .contatos{
    margin-top: 0;
  }

  .contatos a:nth-child(5){
    margin-top: 0;
  }
  

}

@keyframes mov-bot{
  
  100%{
    gap: 0.85em; 
    background-color: var(--secondary-color);   
  }
}

@keyframes mov-link{

  100%{
    padding-bottom: 0;
  }
}
