body{
  width: 100%;
  height: 100vh;
  margin: 40px 0;
  background-color: #1b1b32;
  font-family: Times;
  font-size: 18px;
  color:white;
  text-align: center;
}

#title{
  width: 80%;
  margin: 60px auto 30px;
  font-size: 45px;
  border-radius: 20px;
  border-bottom: 2px solid white;
  box-shadow: 0 3px 0 0 rgb(238, 203, 240);
}
#description{
  font-style: italic;
  font-size: 22px;
  margin-bottom: 100px;
}
#survey-form{
  background-color: rgb(238, 203, 240);
  color: black;
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 2em 3em;
  border: 2px solid rgb(28, 27, 28);
  max-width: 700px;
  min-width: 300px;
  box-shadow: 0 0 5px 0 rgb(238, 203, 240);
  
}

div{
  border-bottom: 2px solid gray;
  margin: 3em 0;
}

#first-div{
  margin-top: 2em;
}

#second-div{ 
  margin-bottom: 2em;
}

fieldset{
  border: none;
  margin: 3em 0;
  padding: 0;
}

fieldset label{
  margin: 0 0 0 0;
}

legend{
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 1em;
}

label, input{
  display: block;
  text-align: left;
  margin: 0.5rem 0;
}

input{
  width: 80%;
  height: 2rem;
}

label{
  margin-top: 1.25rem;

}

#dropdown-label{
  font-size: 21px;
}



input[type="radio"], input[type="checkbox"]{
  width: unset;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0em; 
  vertical-align: middle;
}


div:first-of-type label:last-of-type{
  margin-top: 2em;
}

select{
  display: block;
  width: 60%;
  height: 2em;
  margin: 2em auto 4em auto;
  font-size: 1rem;
}

::placeholder{
  font-size: 16px; 
}

textarea{
  margin: 2em 0;
  max-width: 600px;
  width: 95%;
  display: block;
}

#submit{
  width: 50%;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  background-color: rgba(233, 143, 212, 0.463);
  min-width: 300px;
}

#submit:hover{
  background-color: rgb(203, 203, 203);
}
