html{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  line-height: 25px;
  color: rgba(92, 88, 88, 0.997);
}


#navbar{
  position: fixed;
  top: 0;
  left: 0;
  border-right: 3px solid gray;
  height: 100vh;
  width: 300px;
  font-size: 19px;
  text-decoration: none;
}

#title{
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
  color: black;
}


#navbar ul{
  list-style: none;
  padding: 0;
}

#navbar li{
  padding: 10px 30px;
  border-top: 1px solid;

}

.nav-link{
  text-decoration: none;
  color: rgb(72, 71, 71);
}

#main-doc{
  margin: 30px 30px 20px 330px;
  width: calc(100% - 400px);
  position: relative;
}


#main-doc header{
  font-size: 29px;
  color: black;
}

.main-section{
  padding: 20px 0;
}

article{
  padding: 10px 0 0 18px;
}

article li{
  padding-top: 15px;
  margin-left: 20px;
}

code{
  display: inline-block;
  width: 95%;
  padding: 15px;
  background-color: rgb(236, 236, 230);
  margin-left: 20px;
}

@media (max-width: 800px){

  body{
    margin: 0;
  }

  #navbar{
    position: relative;
    width: 100%;
    border: none;
    height: 300px;
  }

  #navbar ul{
    overflow: scroll;
    border: 1px solid black;
    height: 225px;
  }

  #main-doc{
    width: 90%;
    margin: 0 auto;
  }

  code{
    width: 90%;
  }

}
